<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="__ROOT__/Public/css/index.css" />
<title>无标题文档</title>
</head>

<body class="xtxx">
	<div class="ifr_center">
		<table>
			<tr height='5'></tr>
			<tr><td id="title" colspan="3">系统信息</td></tr>
			<tr height='18'></tr>
			<tr><td>服务器系统及PHP</td><td width='20'></td><td>Win/PHP v5.2.4</td></tr>
			<tr height='13'></tr>
			<tr><td>服务器软件</td><td width='20'></td><td>Apache/2.2.17 (Win) PHP/5.2.4</td></tr>
			<tr height='14'></tr>
			<tr><td>服务器MySQL版本</td><td width='20'></td><td>5.0.45-log</td></tr>
			<tr height='15'></tr>
			<tr><td>上传许可</td><td width='20'></td><td>1&nbsp;M</td></tr>
			<tr height='49'></tr>
			<tr><td>版权所有</td><td width='20'></td><td><a href="http://www.pengyukeji.com">河北鹏宇电子科技有限公司</a></td></tr>
			<tr height='15'></tr>
			<tr><td>相关链接</td><td width='20'></td><td>司法,鉴定,工伤</td></tr>
		</table>
	</div>
</body>
</html>
