@CHARSET "UTF-8";
body{
		background:#FFFFFF;	
	}
	a{
		text-decoration:none;
		color:#000;
	}
	.title{
		width:100%;
		text-align:center;
		float:left;
	}
	.xinzeng{
		float:right;
		margin-top:-5%;
	}
	.xinzeng a{
		color:#0066FF;
		text-decoration:none;
	}
	.con{
		float:left;
		width:100%;
		height:auto;
		border:1px dashed #CECECF;
		/*border-radius:10px;*/
	}
	.con1{
		margin-top:2%;
		float:left;
		width:100%;
		border:1px dashed #CECECF;
	}
	.con1 table{
		float:left;
		margin-left:0.5%;
		text-align:center;
		border-collapse:collapse; word-break:break-all;
		
	}
	.con1 table td{ border:1px solid #333;}
	.contr{
		background:#DCDCDC;
		text-align:center;
	}
	.frm{
		margin:2% 2%;
	}
	.frm input{
		border:none;
		width:15.7%;
		border-bottom:2px groove #666666;
		color:#666666;
	}
	.line{
		width:100%;
		height:2%;
		border:1px dotted #CCCCCC;
		margin-top:1%;
	}
	.two{
		margin-top:2%;
	}
	.three{
		margin-top:2%;
	}
	#button{
		background:#0099FF;
		border:none;
		color:#FFFFFF;
		width:15%;
		height:28px;
		font-weight:bold;
	}